<div id="profile" v-cloak>

  <% if (me) { %>
    <navbar :me="me" :user-data="userData"></navbar>
  <% } else { %>
    <navbar></navbar>
  <% } %>

  <div class="container pt-5 pb-5">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="games-tab" data-toggle="tab" href="#games" role="tab" aria-controls="games" aria-selected="true">
          <%= matchesCount %> Games
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="inventory-tab" data-toggle="tab" href="#inventory" role="tab" aria-controls="inventory" aria-selected="false">
          Inventory
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="games" role="tabpanel" aria-labelledby="home-tab">
        <game-card v-for="match in matches" :match="match" :key="match.matchID" />
      </div>
      <div class="tab-pane fade" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">2</div>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
