<div id="query" class="container pt-5 pb-5">
  <h1><%= queryTitle %></h1>
  <%- partial('../../partials/table.ejs') %>
  
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
  